<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Scheduled Jobs</title>
    
    <link type="text/css" href="css/bootstrap.css" rel="stylesheet">
	<link type="text/css" href="css/jquery-cron.css" rel="stylesheet" />
	
    <style type="text/css">
        .job-row {
            margin-top: 20px;
        }
        
        .menu {
            margin-top: 20px;
        }
        
        .jobs {
            width: 75%;
            margin: auto;
        }
        
        .schedule {
            font-size: 1em;
            display: inline-block;
            line-height: 26px
        }
        
        .status {
            font-size: 1em;
            display: inline-block;
            line-height: 26px
        }
        
        .bg-success {
        	background-color: green;
        }
        
        .bg-danger {
        	background-color: #bd2c00;
        }
    </style>
</head>

<body ng-app="scheduledJobsApp" ng-controller="scheduledJobsController" ng-init="setupApplication()">

    <div class="container">

        <div class="navbar navbar-default menu">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Web cron</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="#" data-toggle="modal" data-target="#add-job-dialog">Add</a></li>
                </ul>
            </div>
        </div>

        <div class="jobs">
            <div class="row job-row" ng-repeat="job in items">
                <div class="col-md-6"><span class="form-control">{{ job.path }}</span></div>
                <div class="col-md-2"><span class="label label-default schedule">{{ job.schedule }}</span></div>
                <div class="col-md-2">
                    <label class="label status" ng-class="job.status == 'RUNNING' ? 'bg-primary' : (job.status == 'FAILED' ? 'bg-danger' : 'bg-success')">{{ job.status }}</label>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-danger" ng-click="deleteScheduledJob(job.id)">Delete</button>
                </div>
            </div>

        </div>

        <!-- Modal -->
        <div id="add-job-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add job</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="job-path">Job path:</label>
                                    <input type="text" class="form-control" id="job-path" ng-model="job.path">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="job-cron">Cron:</label>
                                    <div id="job-cron" wj-cron-input></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="add-new-job" ng-click="addScheduledJob(job)">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="js/jquery-2.2.0.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/jquery-cron.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
       
		<script type="text/javascript">
		</script>
        
        <script type="text/javascript">
        </script>

        <script type="text/javascript">
            var app = angular.module("scheduledJobsApp", []);
            
            app.directive("wjCronInput", function() {
                var directive = {};
                directive.restrict = "A";
                directive.link = function ($scope, elem, attr) {
                	elem.cron({
    				    onChange: function() {
    				    	$scope.job.schedule = $(this).cron("value");
    				    }
    				});
	           }
                
                return directive;
             });


            app.controller("scheduledJobsController", function($scope, $http, scheduledJobsServices) {

                $scope.items = [];
                
                $scope.job = {
                	path: null,
                	schedule: null

                };
                
                $scope.setupApplication = function() {
                	
                	  scheduledJobsServices.getScheduledJobs().then(function (response) {
                      	$scope.items = [];
                		  for (var index in response.data) {
							 $scope.items.push({id: response.data[index].id, path: response.data[index].path, schedule:response.data[index].schedule, status:""});
                		  }
                				  
                      });                	
                	
                	if ("WebSocket" in window)
 				   {
 					    var socket = new SockJS("/webjobsocket");
 					    stompClient = Stomp.over(socket);
 					    stompClient.connect({}, function (frame) {
 					        stompClient.subscribe("/jobstatus", function (response) {
 					           $scope.updatelScheduledJobStatus(JSON.parse(response.body));
 					        });
 					    });
 				   }
 				   else
 				   {
 				      alert("WebSocket NOT supported by your Browser!");
 				   }
                };
                
                $scope.addScheduledJob = function(job) {
                    scheduledJobsServices.addScheduledJob(job).then(function (response) {
                       scheduledJobsServices.getScheduledJobs().then(function (response) {
                           $scope.items = [];
                           for (var index in response.data) {
                        	   $scope.items.push({id: response.data[index].id, path: response.data[index].path, schedule:response.data[index].schedule, status:""});
                 		  }
                       });
                    });
                };
                
                $scope.deleteScheduledJob = function(jobId) {
                    scheduledJobsServices.deleteScheduledJob(jobId).then(function (response) {
                       scheduledJobsServices.getScheduledJobs().then(function (response) {
                           $scope.items = [];
                           for (var index in response.data) {
                        	   $scope.items.push({id: response.data[index].id, path: response.data[index].path, schedule:response.data[index].schedule, status:""});
                 		  }
                       });
                    });
                };

                $scope.updatelScheduledJobStatus = function(update) {
                    $scope.items.filter(function(job) {
                    	if(job.id == update.jobId) {
                    		job.status = update.status;
                    		
                    	}
                    });	
                    
                    $scope.$apply();
                };
                
            });

             app.factory("scheduledJobsServices", function($http) {
                 return {
                     addScheduledJob: function(item) {
                        return $http({
                            method: "POST",
                            url: "/job/add",
                            data: {
					            path: item.path,
                                schedule: item.schedule
				            }
                        });
                    },
                    deleteScheduledJob: function(jobId) {
                        return $http({
                            method: "POST",
                            url: "/job/delete/" +jobId
                        });
                    },
                    getScheduledJobs: function(item) {
                        return $http({
                            method: "GET",
                            url: "/job/all",
                            responseType: "json"
                        });
                    },
                };
                 
            });
        </script>

</body>

</html>