<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Scheduled Jobs</title>
    <!-- TODO (RV): use local file ??? -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .job-row {
            margin-top: 20px;
        }
        
        .menu {
            margin-top: 20px;
        }
        
        .jobs {
            width: 75%;
            margin: auto;
        }
        
        .schedule {
            font-size: 1em;
            display: inline-block;
            line-height: 26px
        }
        
        .status {
            line-height: 26px
        }
    </style>
</head>

<body ng-app="scheduledJobsApp" ng-controller="scheduledJobsController">

    <div class="container">

        <div class="navbar navbar-default menu">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Web cron</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="#" data-toggle="modal" data-target="#add-job-dialog">Add</a></li>
                    <!-- TODO (RV): delete -->
                    <!--
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button">Actions<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Delete selected</a></li>
							<li><a href="#">Disable selected</a></li>
						</ul></li>
					-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ng-click="logOut()"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                </ul>
            </div>
        </div>

        <div class="jobs">
            <div class="row job-row" ng-repeat="job in getAllScheduledJob()">
                <div class="col-md-6"><span class="form-control">{{ job.path }}</span></div>
                <div class="col-md-2"><span class="label label-default schedule">{{ job.schedule }}</span></div>
                <div class="col-md-2">
                    <label class="status">Scheduled</label>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-warning" ng-click="stopScheduledJob()">Stop</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-danger" ng-click="deleteScheduledJob()">Delete</button>
                </div>
            </div>

        </div>

        <!-- Modal -->
        <div id="add-job-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add job</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="job-path">Job path:</label>
                                    <input type="text" class="form-control" id="job-path" ng-model="job.path">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="job-cron">Cron:</label>
                                    <input type="text" class="form-control" id="job-cron" ng-model="job.schedule">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="add-new-job" ng-click="addScheduledJob(job)">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- TODO (RV): use local ??? -->
        <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <!-- TODO (RV): delete -->
        <!--
          <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
        -->
        <script type="text/javascript">
        </script>

        <script>
            var app = angular.module("scheduledJobsApp", []);


            app.controller("scheduledJobsController", function($scope, $http, scheduledJobsModel, scheduledJobsServices) {

                $scope.job = {
                    path: null,
                    schedule: null

                };

                $scope.addScheduledJob = function(job) {
                    scheduledJobsServices.addScheduledJob(job).then(function (response) {
                       // refresh
                       scheduledJobsServices.getScheduledJobs().then(function (response) {
                            scheduledJobsModel.add(response.data);
                       });
                    });
                };

                $scope.deleteScheduledJob = function() {
                    alert("deleteScheduledJob()");
                };

                $scope.stopScheduledJob = function() {
                    alert("stopScheduledJob()");
                };

                $scope.logOut = function() {
                    alert("logOut()");
                };

                $scope.getAllScheduledJob = function() {
                    return  scheduledJobsModel.getAll();
                };
                
                (function init() {
                    scheduledJobsServices.getScheduledJobs().then(function (response) {
                        scheduledJobsModel.add(response.data);
                    });
                })();

            });

            app.factory("scheduledJobsModel", function() {

                var add = function(item) {
                    this.items = item;
                };
                
                var remove = function(item) {
                    if (this.items.indexOf(item) > -1) {
                        this.items.splice(this.items.indexOf(item), 1);
                    }
                };

                var getAll = function() {
                    return this.items;
                };

                return {
                    items: [{
                        path: "/etc/jobs/TODO.sh",
                        schedule: "45 * * * *"
                    }],
                    add: add,
                    remove: remove,
                    getAll: getAll
                };
            });
            
             app.factory("scheduledJobsServices", function($http) {

                 return {
                     addScheduledJob: function(item) {
                        return $http({
                            method: "POST",
                            url: "/job/add",
                            data: {
					            path: item.path,
                                schedule: item.schedule
				            },
                            responseType: "json"
                        });
                    },
                    getScheduledJobs: function(item) {
                        return $http({
                            method: "GET",
                            url: "/job/all",
                            responseType: "json"
                        });
                    },
                };
                 
            });

        </script>

</body>

</html>